* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  background-color: #e5e5e5;
  font-family: sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
}
.pageWrapper {
  padding: 20px;
  max-width: 960px;
  min-width: 400px;
  margin: auto;
  background-color: #f3f7fa;
}
.header {
  padding-top: 50px;
  padding-bottom: 50px;
}
.header__img {
  margin: auto;
  border-radius: 50%;
  height: 62px;
  width: 62px;
  cursor: pointer;
  box-shadow: 0px 8px 11px rgba(55, 104, 142, 0.25);
  background: #2196f3;
  border: 4px solid #42a5f5;
  box-sizing: border-box;
}
.header__img img {
  margin-top: -13px;
  margin-left: -14px;
}
.container-wrap {
  display: flex;
  justify-content: center;
  gap: 20px;
}
.select-box_input {
  display: none;
}
.select-box {
  background-color: #fff;
  border-radius: 10px;
  padding: 20px 0 10px 0;
  height: 252px;
  width: 232px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}
.select-box__title {
  font-weight: 600;
  font-size: 12px;
  line-height: 12px;
  letter-spacing: 0.5px;
  text-transform: uppercase;
  color: #4a4a4a;
  padding-left: 20px;
}
label {
  cursor: pointer;
}
.form__input_wrap {
  height: 40px;
  width: 232px;
  display: flex;
  align-items: center;
  cursor: pointer;
}
.form__input_wrap:hover {
  background: #f1fcff;
}
.select-box_label__check {
  width: 20px;
  height: 20px;
  border-radius: 3px;
  margin-left: 20px;
  border: 1px solid #2196f3;
}
.select-box_label__check img {
  width: 18px;
  height: 18px;
}
.select-box__label__text {
  font-size: 13px;
  color: #4a4a4a;
  margin-left: 10px;
  line-height: 38px;
  width: 150px;
  user-select: none;
}
input[type="checkbox"]:checked + label {
  background: url("./src/check.svg") no-repeat center;
}
.content-wrap {
  max-width: 502px;
  width: 100%;
  padding-bottom: 30px;
}
.content__sort-wrap {
  border: 1px solid #dfe5ec;
  width: 100%;
  height: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #fff;
  border-radius: 5px;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  user-select: none;
}
.content__sort_btn:hover:not(.content__sort_btn-active) {
  background: #f1fcff;
}
.content__sort_btn {
  max-width: 33.33%;
  height: 100%;
  text-align: center;
  line-height: 50px;
  flex: 1 1 auto;
  text-transform: uppercase;
  cursor: pointer;
  transition: all 0.2s ease-in;
}
.sortByPrice {
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  border-right: 1px solid #dfe5ec;
}
.sortByOptimal {
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  border-left: 1px solid #dfe5ec;
}
.sortByPrice:hover,
.sortBySpeed:hover,
.sortByOptimal:hover {
  font-size: 12.5px;
}
.content__sort_btn-active {
  background-color: #2196f3;
  color: #fff;
}
.tiker-wrap {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  margin-top: 20px;
  max-width: 502px;
  width: 100%;
  min-height: 184px;
  padding: 20px;
  background: #ffffff;
  box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
}
.tiker__head {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.tiker__head_iata img {
  cursor: pointer;
  height: 36px;
  width: 110px;
}
.tiker__head_price {
  font-weight: 600;
  font-size: 24px;
  line-height: 24px;
  color: #2196f3;
}
.tiker__state {
  display: flex;
  justify-content: space-between;
}
.tiker__state div {
  display: flex;
  flex-direction: column;
  max-width: 140px;
  width: 100%;
  height: 40px;
}
.tiker__text-gray {
  font-weight: 600;
  font-size: 12px;
  line-height: 18px;
  letter-spacing: 0.5px;
  text-transform: uppercase;
  color: #a0b0b9;
}
.tiker__text-black {
  font-weight: 600;
  font-size: 14px;
  line-height: 21px;
  color: #4a4a4a;
}
.load-block:before {
  content: "Loading...";
}
.load-block {
  height: 50px;
  line-height: 50px;
  border-radius: 5px;
  margin-top: 20px;
  padding-left: 20px;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  font-weight: bold;
  font-size: 16px;
  padding-bottom: 8px;
  background: linear-gradient(currentColor 0 0) bottom left/0% 2px no-repeat
    #fff;
  animation: loading 4s linear infinite;
}
@keyframes loading {
  to {
    background-size: 100% 2px;
  }
}
.show-more-tikers {
  cursor: pointer;
  margin-top: 20px;
  background-color: #2196f3;
  border-radius: 5px;
  font-weight: 600;
  line-height: 50px;
  text-align: center;
  letter-spacing: 0.5px;
  text-transform: uppercase;
  color: #ffffff;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}
@media (max-width: 800px) {
  .header {
    padding-top: 10px;
    padding-bottom: 10px;
  }
  .container-wrap {
    flex-direction: column;
    align-items: center;
  }
}
